<div class="nav_menu">
    <nav class="header__navigation">
        <ul class="header__list">
            <li class="header_item">
                <a href="{% url 'newlevels' %}" class="header__link">[New levels]</a>
            </li>
            <li class="header_item">
                <a href="{% url 'toplevels' %}" class="header__link">[Top levels]</a>
            </li>
            <li class="header_item">
                <a href="#!" class="header__link">[Search]</a>
            </li>
            <li class="header_item">
                <a href="#!" class="header__link">[Manage Accounts]</a>
                <ul class=nav_accounts>
                    <li class="list_accounts">
                        <a href="" class="accounts__header" id="log_in">[Log in]</a>
                    </li>
                    <li class="list_accounts">
                        <a href="" class="accounts__header" id="log_in">[Sign in]</a>
                    </li>
                    <li class="list_accounts">
                        <a href="" class="accounts__header" id="log_in">[Settings]</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>