{% load levels_info %}
<div class="main__panel">
    <div class="container_panel">
        {% block panel_box %} {% endblock %}
    </div>
</div>

<div class="main_page_level">
    {% block levelinfo %} {% endblock %}
</div>

<div class="comments_panel main__panel">
    <div class="container_panel">
        {% block panel_comment %} {% endblock %}
    </div>
</div>

<div class="comments_container">
    {% block comments_main %} {% endblock %}
    {% block send_box_comment %} {% endblock %}
</div>
<div class="footer_panel"></div>
