<div class="pop_up" id="pop_up_login">
    <div class="pop_up_container" id="container_login">
        <div class="pop_up_body" id="popup_body_login">
            <P class="title_login">Log in</P>
            <form action="">
                <input type="text" class="login_form" placeholder="Email/login">
                <input type="password" class="login_form" placeholder="Password">
                <div class="links_pop_up">
                    <a href="#pop_up_forgot" class="link_login popup_links">Forgot password</a>
                    <p>/</p>
                    <a href="#pop_up_sign" class="link_login popup_links">Sign in</a>
                </div>
                <button class="login_button">Log in</button>
            </form>
            <div class="pop_up_close close-popup" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>
<div class="pop_up" id="pop_up_sign">
    <div class="pop_up_container" id="container_login">
        <div class="pop_up_body" id="popup_body_login">
            <P class="title_login">Sign in</P>
            <form action="">
                <input type="text" class="login_form" placeholder="Nikname">
                <input type="email" class="login_form" placeholder="Email">
                <input type="password" class="login_form" placeholder="Password">
                <input type="password" class="login_form" placeholder="Confirm Password">
                <div class="links_pop_up">
                    <a href="#pop_up_login" class="link_login popup_links">Log in?</a>
                </div>
                <button class="login_button">Submit</button>
            </form>
            <div class="pop_up_close close-popup" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>
<div class="pop_up" id="pop_up_forgot">
    <div class="pop_up_container" id="container_login">
        <div class="pop_up_body" id="popup_body_login">
            <P class="title_login">Forgot password?</P>
            <form action="">
                <input type="email" class="login_form" placeholder="Email">
                <div class="links_pop_up">
                    <a href="#pop_up_login" class="link_login popup_links">Log in?</a>
                </div>
                <button class="login_button">Submit</button>
            </form>
            <div class="pop_up_close close-popup" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>
<div class="pop_up" id="pop_up_settings">
    <div class="pop_up_container" id="container_login">
        <div class="pop_up_body" id="popup_body_login">
            <P class="title_login">Forgot password?</P>
            <form action="">
                <input type="email" class="login_form" placeholder="Email">
                <div class="links_pop_up">
                    <a href="#pop_up_login" class="link_login popup_links">Log in?</a>
                </div>
                <button class="login_button">Submit</button>
            </form>
            <div class="pop_up_close close-popup" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>