<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static 'levels/css/style.css' %}">
</head>
<body>
<div id="page-werp" class="page">
	<!-- HADER  -->
	<header class="header" id="header">
		<div class="werpper">
				<div class="header__werpper">
					<div class="header__logo">
						<a href="{% url 'home' %}" class="logo__pic">
							<img src="{% static 'levels/img/svg/logo_pha.svg' %}" alt="Project" class="img__logo">
						</a>
					</div>

					<div class="nav_menu">
						<nav class="header__navigation">
							<ul class="header__list">
								<li class="header_item">
									<a href="{% url 'newlevels' %}" class="header__link">[New levels]</a>
								</li>
								<li class="header_item">
									<a href="#!" class="header__link">[Top levels]</a>
								</li>
								<li class="header_item">
									<a href="#!" class="header__link">[Search]</a>
								</li>
								<li class="header_item">
									<a href="#!" class="header__link">[Manage Accounts]</a>
									<ul class=nav_accounts>
										<li class="list_accounts">
											<a href="" class="accounts__header" id="log_in">[Log in]</a>
										</li>
										<li class="list_accounts">
											<a href="" class="accounts__header" id="log_in">[Sign in]</a>
										</li>
										<li class="list_accounts">
											<a href="" class="accounts__header" id="log_in">[Settings]</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
	</header>
	<!-- Hader end -->

	<!-- Main -->
	<main class="main">
		<div class="werpper">
			<div class="warpper__main">
				<div class="levels__grid">
					{% for item in levels %}

					<div class="levels__info">
						<a href="{% url 'level' item.pk %}" class="levels__url">
							{% if item.preview %}
								<img class="image_level" src="{{ item.preview.url }}" alt="Levels info">
							{% else %}
								<img class="image_level" src="{% static 'levels/img/svg/no_shadow_icon.svg' %}" alt="Levels info">
							{% endif %}
							<span class="info">
								<h1 class="name_level">{{ item.name_level }}</h1>
								<p class="info_levels_expert_plus">By: {{ item.autthor_level }} / {{ item.diffculty }} <img class="icon_difficulty" src="{% static 'levels/img/svg/' %}{{ item.diffculty }}_ico.svg" alt="icon difficulty"></p>
								<p class="rating_levels">Rating: {{ item.rating }} <img class="rating_ico" src="{% static 'levels/img/svg/heart_no.svg' %}" alt="rating"></p>
							</span>
						</a>
					</div>

					{% endfor %}
					</div>
					
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="nav_wrap">
			<nav class="nav_pages">
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page"><</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">1</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">2</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">3</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">4</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">5</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">6</a>
				</li>
				<li class="pages_item">
					<a href="#" class="pages_link" id="link-page">></a>
				</li>
			</nav>
		</div>
	</footer>
</div>

</body>
</html>
