{% extends 'base.html' %}
{% load static %}
{% block werpper_level %} 
<div class="warpper__main">
	<div class="levels__grid">
		{% if levels %}
			{% for item in levels.object_list %}
				{% if item.is_published %}
					<div class="levels__info">
						<a href="{% url 'level' item.pk %}" class="levels__url">
							{% if item.preview %}
								<img class="image_level" src="{{ item.preview.url }}" alt="Levels info">
							{% else %}
								<img class="image_level" src="{% static 'levels/img/svg/no_shadow_icon.svg' %}" alt="Levels info">
							{% endif %}
							<span class="info">
								<h1 class="name_level">{{ item.name_level|truncatechars:15 }}</h1>
								<p class="info_levels_expert_plus">By: {{ item.author_level|truncatechars:12 }} / {{ item.diffculty }} <img class="icon_difficulty" src="{% static 'levels/img/svg/' %}{{ item.diffculty }}_ico.svg" alt="icon difficulty"></p>
								<p class="rating_levels">Rating: {{ item.rating }} <img class="rating_ico" src="{% static 'levels/img/svg/heart_no.svg' %}" alt="rating"></p>
							</span>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="not_found_levels">
				<h1 class="not_found_context">Levels Not Found...</h1>
			</div>
		{% endif %}
	</div>
		
	</div>
</div>
{% endblock %}
{% block pages_item %} 
<div class="nav_wrap">
	<nav class="nav_pages">
		{% if levels %}
			<li class="pages_item{% if not prev_url %}_disabled{% endif %}">
				<a href="{{ prev_url }}" class="pages_link" id="link-page"><</a>
			</li>
			{% for n in levels.paginator.page_range %}
				{% if levels.number == n %}
					<li class="pages_item">
						<a href="?page={{ n }}" class="pages_link" id="link-page">{{ n }}</a>
					</li>
				{% elif n > levels.number|add:-7 and n < levels.number|add:7 %}
					<li class="pages_item">
						<a href="?page={{ n }}" class="pages_link" id="link-page">{{ n }}</a>
					</li>
				{% endif %}
			{% endfor %}
			<li class="pages_item{% if not next_url %}_disabled{% endif %}">
				<a href="{{ next_url }}" class="pages_link" id="link-page">></a>
			</li>
		{% endif %}
	</nav>
</div>
{% endblock %}


