{% extends 'base_levelinfo.html' %}
{% load static %}
{% block levelinfo %}
<div class="werpper_lavelinfo">
    <div class="linfo">
        {% if levels.is_published %}
            <div class="image_levelw">
                {% if levels.preview %}
                <img src="{{ levels.preview.url }}" alt="lavel_info" class="image_level">
                {% else %}
                <img src="{% static 'levels/img/svg/info_levelimg.svg' %}" alt="lavel_info" class="image_level">
                {% endif %}
            </div>
            <div class="namelevels">
                <p class="levelname">{{ levels.name_level }}</p>
                <p class="author_level">By {{ levels.author_level }}</p>
            </div>
            <div class="info_level_page">
                <div class="info_level_rating">
                    <p class="Rating">Rating: </p>
                    <p class="number_rating">{{ levels.rating }}</p>
                    <img src="{% static 'levels/img/svg/heart_ico_min.svg' %}" alt="Rating_heart" class="heart">
                </div>
                <div class="info_level_author">
                    <p class="level_by">Level By:</p>
                    <p class="author">{{ levels.level_by }}</p>
                </div>
                <div class="info_level_diffculty">
                    <p class="diffculty">Diffculty:</p>
                    <p class="name_diffculty">{{ levels.diffculty }}</p>
                    <img src="{% static 'levels/img/svg/' %}{{ levels.diffculty }}_ico.svg" alt="ico_diffculty" class="diffculty_ico">
                </div>
            </div>
            <div class="description">
                <p class="title_name">Description:</p>
                <p class="text_description">{{ levels.content }}</p>
            </div>
        {% else %}
            <div class="not_found_levels">
                <h1 class="not_found_context">Levels Not Found...</h1>
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}
{% block nav_wrap_info %}
<div class="nav_wrap_info">
    {% if levels.is_published %}
        <ul class="nav_footer">
            {% if levels.levels_file %}
            <li class="item__footer">
                <a href="{{levels.levels_file.url}}" class="link__footer">[Download]</a>
            </li>
            {% else %}
            <li class="item__footer">
                <a href="#" class="link__footer">[Download]</a>
            </li>
            {% endif %}
            {% if levels.url_getsong %}
            <li class="item__footer_get_song">
                <a href="{{ levels.url_getsong }}" class="link__footer">[Get Song]</a>
            </li>
            {% endif %}
            <li class="item__footer_left">
                <a href="" class="link__footer">[Comments]</a>
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}
